.main-form {
    display: block;
    max-width: 350px;
    margin: 30px auto 0;
    text-align: left;
    &__section {
        display: block;
    }
    &__item {
        display: inline-block;
        width: 100%;
        margin: 0 0 20px;
    }
    label {
        & > span {
            cursor: pointer;
        }
        display: block;
        input[type=email],
        input[type=text],
        input[type=password] {
            margin-top: 5px;
        }
    }
    input {
        border-radius: 2px;
        width: 100%;
        padding: 8px 8px;
        border: 1px solid $grey;
    }
    .form-btn-container {
        text-align: center;
    }
    .error-message {
        color: $red;
        font-size: 12px;
    }
    .error {
        input,
        textarea {
            border-color: $red;
        }
    }
}

.form-button {
    border: 1px solid darken($orange, 8%);
    border-radius: 4px;
    background-color: $orange;
    display: inline-block; 
    padding: 4px 16px;
    color: #fff;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.25s ease;
    &:hover {
        background-color: $orange-dark;
    }
}