.movie-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 5px);
    margin-right: -5px;
    margin-top: 40px;
    &__item {
        display: inline-block;
        width: 100%;
        max-width: calc(33.3% - 5px);
        margin: 0 5px 2px 0;
    }
}

@media (min-width: 700px){
    .movie-grid {
        &__item {
             max-width: calc(20% - 5px);
        }
    }
}