.movie-list {
    margin-top: 20px;
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2px;
        margin-right: -2px;
    }
    &__item {
        display: inline-block;
        padding: 2px;
        width: 33.3%;
        margin:0 0 16px;
    }
    > h3 {
            margin: 10px 0;
            font-size: 18px;
        }
    .pagination-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 5px;
        .pagination {
            flex-shrink: 0;
            align-self: flex-end;
            margin-left: auto;
        }
    }
}

@media (min-width: 700px){
    .movie-list {
        > h3 {
            font-size: 20px;
        }
        &__item {
            width: 20%;
        }
    }
}

@media (min-width: 1200px){
    .movie-list {
        &__item {
             max-width: 14.28%;
        }
    }
}