.poster {
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    background-size: cover !important;
    background-position: center center !important;
    width: 100%;
    padding-top: 145%;
    position: relative;
    &:hover {
        .poster__overlay {
            opacity: 1;
            &::after {
                transform: translateY(0px) rotate(45deg);
            }     
        }
    }
    &.list-view {
         &:hover {
            .poster__overlay {
                &::after {
                    transform: translateX(0px);
                }     
            }
        }
        .poster__overlay {
            &::after {
                border-top: 8px solid transparent;
                border-left: 8px solid #fff;
                border-bottom: 8px solid transparent;
                border-right: none;
                right: 10px;
                height: 0;
                width: 0;
                transform: translateX(-5px);
            }
        }
    }
    &__overlay {
        background: rgba(0,0,0,0.6);
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.25s ease;
        cursor: pointer;
        &::after {
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            display: inline-block;
            content: "";
            height: 10px;
            width: 10px;
            position: absolute;
            right: calc(50% - 5px);
            bottom: 5px;
            transform: translateY(-5px) rotate(45deg);
            transition: transform 0.25s ease 0.25s;
        }
        h3 {
            display: inline-block;
            color: #fff;
            font-size:14px;
            font-weight: 400;
            padding: 5px;
            margin: 0;
        }
    }
}