.site-constraint {
    min-height: 100vh;
    overflow: hidden;
}

.main-content {
    min-height: calc(100vh - 115px);
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 45px;
    @media (min-width: 350px){
        min-height: calc(100vh - 120px);
    }
}