$default-text: #333;
$text-grey: #999;

$white: #fff;

$red: #D62C38;

$grey: #ddd;

$teal-dark: #00C1B3;
$teal: #22FFF4;
$teal-light: #A7FCF4;
$teal-light-2: #E1FFFB;

$blue-dark: #008EBF;
$blue: #1FBAFF;
$blue-light: #85E5FF;
$blue-light-2: #C0F1FC;

$orange-dark: #D88744;
$orange: #F29949;
$orange-light: #F9AD6E;